@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,400i,600);
@import url(font-awesome-all.css);
@import url(flaticon.css);
@import url(etline.css);
@import url(animate.css);
@import url(owl.css);
@import url(jquery.mCustomScrollbar.min.css);
@import url(custom-animate.css);
@import url(hover.css);
@import url(jquery.background-video.css);
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
}
@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/IranYekan/eot/iranyekanwebbold(fanum).eot");
    src: url("../fonts/IranYekan/eot/iranyekanwebbold(fanum).eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */
            url("../fonts/IranYekan/woff2/iranyekanwebbold(fanum).woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("../fonts/IranYekan/woff/iranyekanwebbold(fanum).woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/IranYekan/ttf/iranyekanwebbold(fanum).ttf")
            format("truetype");
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/IranYekan/eot/iranyekanweblight(fanum).eot");
    src: url("../fonts/IranYekan/eot/iranyekanweblight(fanum).eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */
            url("../fonts/IranYekan/woff2/iranyekanweblight(fanum).woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("../fonts/IranYekan/woff/iranyekanweblight(fanum).woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/IranYekan/ttf/iranyekanweblight(fanum).ttf")
            format("truetype");
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/IranYekan/eot/iranyekanwebregular(fanum).eot");
    src: url("../fonts/IranYekan/eot/iranyekanwebregular(fanum).eot?#iefix")
            format("embedded-opentype"),
        /* IE6-8 */
            url("../fonts/IranYekan/woff2/iranyekanwebregular(fanum).woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("../fonts/IranYekan/woff/iranyekanwebregular(fanum).woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/IranYekan/ttf/iranyekanwebregular(fanum).ttf")
            format("truetype");
}

body {
    font-size: 15px;
    color: #777;
    line-height: 1.7em;
    font-weight: 400;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: "IranYekan", sans-serif;
}

.author-info .author .designation,
.card-about .list-style-one li,
.card-home .author .designation,
.fact-counter .count-outer,
.header ul li a,
.news-block .date,
.progress-levels .progress-box .percent,
.single-post .comments-area .comment .comment-reply,
.single-post .comments-area .comment-box strong,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "IranYekan", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fc6183;
}

a:focus,
a:hover,
a:visited {
    text-decoration: none;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: 400;
    background: 0 0;
    margin: 0;
    line-height: 1.6em;
}

textarea {
    overflow: hidden;
}

.text {
    font-size: 14px;
    position: relative;
    line-height: 1.8em;
    color: #777;
}

.btn-style-one,
.btn-style-two {
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

::-webkit-input-placeholder {
    color: inherit;
}

::-moz-input-placeholder {
    color: inherit;
}

::-ms-input-placeholder {
    color: inherit;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.medium-container {
    max-width: 850px;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    background-position: center;
    background-repeat: repeat;
}

.page-wrapper.bg-lines {
    background-image: url(../images/icons/line.png);
}

li,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon-one li,
.social-icon-two li {
    position: relative;
    margin-left: 10px;
    display: inline-block;
}

.centered {
    text-align: center;
}

.theme-btn {
    display: inline-block;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-style-one {
    position: relative;
    padding: 14px 30px;
    color: #fff;
    font-weight: 500;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    background: #9147ff;
}

.btn-style-one:hover {
    color: #fff;
    background: #222;
}

.btn-style-two {
    position: relative;
    padding: 13px 30px;
    color: #222;
    font-weight: 600;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    background: 0 0;
    border: 1px solid #d9d9d9;
}

.btn-style-two:hover {
    color: #fff;
    background: #ff4d8e;
    border-color: #ff4d8e;
}

.social-icon-one {
    position: relative;
}

.social-icon-one li a {
    font-size: 14px;
    color: #111;
}

.social-icon-one li a:hover {
    color: #1d1d1d;
}

.social-icon-two {
    position: relative;
}

.page-background,
.preloader {
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 0;
}

.social-icon-two li a {
    font-size: 14px;
    color: #848484;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #dbdbdb;
    display: inline-block;
    border-radius: 50%;
    transition: 0.5s ease;
}

.social-icon-two li a:hover {
    color: #9147ff;
}

.theme_color {
    color: #fc6183;
}

.preloader {
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/icons/preloader.svg);
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.page-background {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.page-background .banner-carousel .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.parallax-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.parallax-container .image-2 {
    position: absolute;
    left: 120px;
    top: 50%;
}

.parallax-container .image-3 {
    position: absolute;
    left: 50%;
    top: 90px;
}

.parallax-container .image-4 {
    position: absolute;
    right: 30%;
    top: 5px;
}

.parallax-container .image-5 {
    position: absolute;
    right: 150px;
    bottom: 50%;
}

.parallax-container .image-6 {
    position: absolute;
    left: 30%;
    bottom: 50px;
}

.card-outer {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.card-outer .container {
    position: relative;
}

.header {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f6f5f6;
    border-radius: 0 6px 6px 0;
    transition: 0.5s ease;
    z-index: 99;
    overflow: hidden;
}

.header ul {
    text-align: center;
}

.header ul li {
    position: relative;
    min-width: 80px;
}

.header ul li a.logo {
    line-height: 54px;
}

.header ul li a {
    position: relative;
    color: #212121;
    padding: 18.3px 10px;
    display: block;
    font-size: 14px;
    background-color: #f6f6f6;
    background-image: url(../images/resource/menu-bg.jpg);
    background-position: right center;
    background-repeat: repeat-y;
    z-index: 99;
}

.header ul li a:before {
    position: absolute;
    content: "";
    background-color: #eee;
    background-image: url(../images/resource/menu-border.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    height: 1px;
    width: 100%;
    right: 0;
    bottom: 0;
}

.header ul li:last-child a:before {
    display: none;
}

.header ul li a i {
    display: block;
    color: #838383;
    font-size: 22px;
    margin-bottom: 3px;
}

.header ul li.active a {
    background-color: #fff;
    background-image: url(../images/resource/menu-bg-2.jpg);
}

.mobile-menu {
    background: #121a31;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: none;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.mobile-menu .nav-outer {
    position: relative;
}

.mobile-menu .logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 6px 24px 6px 0;
}

.card-outer .card-wrapper {
    border-radius: 7px;
    overflow: hidden;
    max-width: 820px;
    margin: 0 auto;
}

.card-outer .card-inner-box {
    position: relative;
    min-height: 600px;
    transition: 0.5s;
    transform: translate(-150px);
}

.author-info,
.card-item {
    position: absolute;
    top: 0;
    bottom: 0;
}

.card-outer .card-inner-box.offsetleft {
    margin-left: 0;
    margin-right: 0;
    transform: translate(0);
}

.card-item {
    border-radius: 6px 0 0 6px;
    background: #fff;
    right: 80px;
    width: 92%;
    opacity: 0;
    visibility: hidden;
    z-index: 8;
}

.card-inner-box.active .card-item {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-repeat: no-repeat;
    background-position: right center;
}

.card-item .card-inner {
    height: 100%;
    padding: 40px 0;
    transition: 0.5s ease;
}

.card-inner-box .card-home {
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #fff;
    max-width: 440px;
}

.card-item.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    transition: visibility 1s linear, opacity 0.5s linear;
}

.card-item.hide-item {
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}

.card-item .title {
    font-size: 17px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.card-home .image {
    max-width: 260px;
    max-height: 260px;
    margin: 7px auto 52px;
    background: #010000;
    overflow: hidden;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.card-home .image img {
    width: 100%;
    transform: scale(1.01);
}

.card-home .author h3 {
    font-weight: 600;
    color: #222;
}

.card-home .author .designation {
    font-size: 15px;
    margin-bottom: 20px;
    color: #222;
}

.card-home .author .designation strong {
    color: #5e44e0;
}

.card-home .text {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 30px;
    color: #222;
}

.card-home .social-icon-two {
    margin-bottom: 10px;
}

.card-home .social-icon-two li {
    margin: 0 4px;
}

.card-home .social-icon-two a {
    line-height: 36px;
    border: 0;
    font-size: 34px;
    width: auto;
    height: auto;
}

.card-home .link-btn {
    margin-bottom: 0;
}

.card-home .theme-btn {
    margin: 7px 10px;
    min-width: 180px;
}

.author-info {
    left: 20%;
    text-align: center;
    display: none;
    padding: 140px 15px 50px;
    min-width: 350px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
}

.author-info .image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto 35px;
    background: #fff;
}

.author-info .image img {
    border: 5px solid rgba(31, 53, 67, 0.1);
    border-radius: 50%;
}

.author-info .author h3 {
    font-weight: 500;
    color: #222;
}

.author-info .author .designation {
    font-size: 15px;
    margin-bottom: 30px;
    color: #222;
}

.author-info .text {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 30px;
    color: #222;
}

.author-info .link-btn {
    margin-bottom: 30px;
}

.author-info .theme-btn {
    margin: 0 10px;
}

.card-about {
    padding: 0 50px;
}

.card-about .about-info {
    margin-bottom: 28px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.card-about .about-info .text {
    position: relative;
    margin-bottom: 25px;
}

.card-about .info-list {
    padding: 0 20px;
}

.card-about .list-style-one {
    position: relative;
}

.card-about .list-style-one li {
    position: relative;
    color: #777;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
}

.card-about .list-style-one li strong {
    color: #333;
    font-size: 13px;
    font-weight: 600;
}

.card-about .list-style-one li span {
    margin-left: 8px;
    font-size: 14px;
}

.card-about .our-skills {
    margin-bottom: 28px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.progress-levels {
    position: relative;
}

.progress-levels .progress-box {
    position: relative;
    padding-bottom: 25px;
    overflow: hidden;
}

.progress-levels .progress-box:last-child {
    margin-bottom: 0;
}

.progress-levels .progress-box .box-title {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: "IranYekan", sans-serif;
    line-height: 24px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.progress-levels .progress-box .bar {
    position: relative;
    height: 5px;
    background: #eee;
    border-radius: 5px;
}

.progress-levels .progress-box .bar .bar-innner {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
}

.progress-levels .progress-box .bar .bar-fill {
    position: absolute;
    left: -100%;
    top: 0;
    width: 0;
    height: 5px;
    background: #f5cd2f;
    -moz-transition: all 2s ease 0.3s;
    -webkit-transition: all 2s ease 0.3s;
    -ms-transition: all 2s ease 0.3s;
    -o-transition: all 2s ease 0.3s;
    transition: all 2s ease 0.3s;
    border-radius: 10px;
}

.progress-levels .progress-box.html .bar .bar-fill {
    background: #ef6267;
}

.progress-levels .progress-box.css .bar .bar-fill {
    background: #00ff15;
}

.progress-levels .progress-box.wp .bar .bar-fill {
    background: #1c96ae;
}

.progress-levels .progress-box.php .bar .bar-fill {
    background: #dff703;
}
.progress-levels .progress-box.laravel .bar .bar-fill {
    background: #ed0d0d;
}
.progress-levels .progress-box.js .bar .bar-fill {
    background: #fe7f00;
}
.progress-levels .progress-box.jQuery .bar .bar-fill {
    background: #9d00fe;
}
.progress-levels .progress-box.bootstrap .bar .bar-fill {
    background: #0000fe;
}

.progress-levels .progress-box.animated .bar .bar-fill {
    right: 0;
}

.progress-levels .progress-box .percent {
    position: absolute;
    left: 0;
    top: -40px;
    letter-spacing: 0;
    font-size: 15px;
    color: #222;
    padding: 8px 7px;
    line-height: 24px;
    opacity: 1;
    font-weight: 600;
}

.card-about .testimonials {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.testimonial-block .inner-box {
    position: relative;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.07);
    padding: 30px;
    margin: 20px 10px;
    text-align: center;
}

.testimonial-block .inner-box .image {
    height: 55px;
    width: 55px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 50%;
}

.testimonial-block .inner-box .image img {
    width: auto;
    border-radius: 50%;
    margin: 0 auto;
    transform: scale(1.03);
}

.testimonial-block .inner-box .text {
    margin-bottom: 10px;
}

.testimonial-block .inner-box h5 {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.card-about .client-logo {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.card-about .client-logo ul {
    margin: 30px 0 20px;
}

.card-about .client-logo img {
    width: auto;
}

.card-about .fact-counter {
    margin-bottom: 10px;
}

.fact-counter .inner-box {
    padding: 25px 20px 5px;
    border: 1px solid #e5e5e5;
    text-align: center;
    margin-bottom: 30px;
}

.fact-counter .count-outer {
    position: relative;
    margin-top: 5px;
    color: #fd4c8d;
    font-size: 35px;
    font-weight: 500;
}

.fact-counter .count-outer .count-text {
    margin-bottom: 15px;
    display: block;
}

.fact-counter .inner-box p {
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

.card-resume {
    padding: 0 50px;
}

.card-resume .timeline-column {
    position: relative;
    margin-bottom: 40px;
}

.card-resume .timeline-column .inner {
    position: relative;
    padding-left: 13px;
    padding-bottom: 2px;
}

.card-resume .timeline-column .inner:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 60px;
    border-left: 1px solid #d0d0d0;
    bottom: 0;
}

.card-resume .timeline-column .col-header {
    position: relative;
    padding-left: 22px;
    margin-bottom: 5px;
}

.card-resume .timeline-column .col-header h5 {
    position: relative;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    padding-right: 30px;
    text-transform: capitalize;
    line-height: 42px;
}

.card-resume .timeline-column .col-header .icon-box {
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 15px;
    color: #333;
}

.card-resume .timeline-column .col-header .icon-box .icon-inner {
    position: relative;
    width: 52px;
    height: 52px;
}

.dark-layout .card-resume .timeline-column .col-header .icon-box .icon {
    color: #1e1e1e;
}

.card-resume .timeline-column .col-header .icon-box .icon {
    position: relative;
    display: block;
    width: 52px;
    height: 52px;
    text-align: center;
    color: #9147ff;
    font-size: 24px;
    line-height: 52px;
    z-index: 1;
}

.card-resume .timeline-column .timeline-block {
    position: relative;
    margin-bottom: 28px;
}

.card-resume .timeline-column .timeline-block:last-child {
    margin-bottom: 0;
}

.card-resume .timeline-column .timeline-block .inner-box {
    position: relative;
    padding-right: 30px;
}

.card-resume .timeline-column .timeline-block .date {
    position: relative;
    display: inline-block;
    margin-bottom: 9px;
    line-height: 24px;
    font-size: 14px;
    color: #222;
    font-weight: 400;
}

.card-resume .timeline-column .timeline-block .date span {
    color: #9147ff;
}

.card-resume .timeline-column .timeline-block h5 {
    position: relative;
    font-size: 15px;
    color: #ff4d8e;
    font-weight: 500;
}

.card-resume .timeline-column .timeline-block h5:before {
    content: "";
    position: absolute;
    right: -30px;
    top: 4px;
    width: 16px;
    height: 16px;
    border: 4px solid #c6bef0;
    border-radius: 50%;
    background: #9147ff;
}

.projects-block,
.projects-block .inner-box,
.services-block,
.services-block .icon-box,
.services-block .icon-box span,
.services-block h4 {
    position: relative;
}

.card-resume .timeline-column .timeline-block .text {
    font-size: 14px;
}

.card-services {
    padding: 0 50px;
}

.services-block .inner-box {
    position: relative;
    margin-bottom: 30px;
    padding: 20px 30px;
    text-align: center;
    border: 1px solid rgba(34, 34, 34, 0.12156862745098039);
}

.services-block .text,
.services-block h4 {
    margin-bottom: 10px;
}

.services-block .icon-box {
    text-align: center;
    line-height: 73px;
    font-size: 34px;
    border-radius: 50%;
    transition: 0.5s ease;
    color: #5f46e0;
}

.services-block:hover .icon-box:before {
    transform: scale(1);
}

.services-block h4 {
    font-size: 16px;
    font-weight: 600;
}

.services-block h4 a {
    color: #222;
}

.news-block,
.projects-block {
    margin-bottom: 30px;
}

.card-projects {
    padding: 0 30px 0 50px;
}

.projects-block .image img {
    width: 100%;
    transition: 0.5s ease;
}

.projects-block:hover .image img {
    transform: scale(1.15);
}

.projects-block .image::before {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    transition: all 0.4s ease-in-out 0s;
}

.projects-block:hover .image::before {
    opacity: 1;
}

.projects-block .image {
    position: relative;
    overflow: hidden;
}

.projects-block .overlay a {
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    color: #9147ff;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    transition: all 0.4s ease 0s;
    width: 60px;
}

.projects-block .overlay a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

.projects-block:hover .overlay a {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.projects-block .overlay {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    z-index: 10;
}

.projects-block:hover .overlay {
    opacity: 1;
}

.projects-block .caption-title {
    top: 50%;
    left: 50%;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    z-index: 12;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.news-block,
.news-block .image {
    position: relative;
}

.projects-block:hover .caption-title {
    opacity: 1;
}

.projects-block .caption-title h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    transform: translateY(15px);
    transition: all 0.4s ease-in-out 0s;
}

.projects-block .caption-title h5 a {
    color: #fff;
}

.projects-block:hover .caption-title h5,
.projects-block:hover .caption-title span {
    transform: translateX(0);
}

.projects-block .caption-title span {
    color: #ff4d8e;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    transform: translateY(15px);
    transition: all 0.4s ease-in-out 0s;
    text-transform: capitalize;
}

.projects-block .caption-title-two {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px 1px #0001f;
}

.projects-block .caption-title-two h5 a {
    color: #222;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.projects-block .caption-title-two span {
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.card-blog {
    padding: 0 30px 0 50px;
}

.news-block .image img {
    width: 100%;
}

.news-block .image:before {
    background: rgba(0, 0, 0, 0.75);
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: all 0.4s ease-in-out 0s;
}

.single-post .news-block .image:before {
    display: none;
}

.news-block:hover .image::before {
    opacity: 1;
    height: 100%;
}

.news-block .overlay a {
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    color: #ff4d8e;
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    transition: all 0.4s ease 0s;
    width: 60px;
}

.news-block .overlay a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

.news-block:hover .overlay a {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.news-block .overlay {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    z-index: 10;
}

.news-block:hover .overlay {
    opacity: 1;
}

.news-block .date {
    position: relative;
    line-height: 24px;
    padding: 9px 0;
    border-radius: 5px;
    font-size: 13px;
    color: #ff4d8e;
    font-weight: 600;
}

.news-block .date span {
    margin-left: 7px;
    font-size: 14px;
}

.news-block .lower-content {
    padding: 10px 0 0;
}

.news-block .lower-content h5 {
    font-size: 16px;
    color: #222;
    margin-bottom: 5px;
    font-weight: 600;
}

.news-block .lower-content h5 a {
    color: #222;
}

.news-block .lower-content .post-meta {
    color: #848484;
}

.news-block .lower-content .post-meta span {
    color: #9147ff;
}

.single-post .news-block .lower-content p:last-child {
    margin-bottom: 0;
}

.news-block .blockquote {
    position: relative;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    border: 0;
    padding-top: 30px;
}

.news-block .blockquote .icon {
    position: relative;
    margin-bottom: 15px;
}

.share-box {
    position: relative;
}

.share-box li {
    display: inline-block;
    color: #222;
    font-size: 16px;
}

.share-box li a {
    color: #222;
}

.share-box li span {
    color: #9147ff;
}

.single-post .comments-area {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 30px;
    border-top: 1px solid #ebebeb;
}

.single-post .group-title {
    position: relative;
    margin-bottom: 15px;
}

.single-post .group-title h4 {
    position: relative;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    padding-bottom: 0;
}

.single-post .comments-area .comment-box {
    position: relative;
    padding: 20px 0 0;
    margin-bottom: 35px;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.single-post .comments-area .comment-box:last-child {
    margin-bottom: 0;
}

.single-post .comments-area .comment-box:last-child .comment {
    border: 0;
}

.single-post .comments-area .comment-box.reply-comment {
    margin-left: 100px;
}

.single-post .comments-area .comment-box:last-child .comment .comment-inner {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.single-post .comments-area .comment-box:hover {
    border-color: #222;
}

.single-post .comments-area .comment {
    position: relative;
    font-size: 14px;
    padding: 0 0 10px 90px;
    border-bottom: 1px solid #ebebeb;
}

.single-post .comments-area .comment .comment-inner {
    position: relative;
    right: 100px;
}

.single-post .comments-area .comment .comment-reply {
    position: absolute;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 10px;
    top: 0;
}

.single-post .comments-area .comment .comment-reply .icon {
    font-size: 13px;
    margin-right: 8px;
}

.single-post .comments-area .comment-box .author-thumb {
    position: absolute;
    right: 0;
    top: 7px;
    width: 86px;
    overflow: hidden;
    margin-bottom: 20px;
}

.single-post .comments-area .comment-box .author-thumb img {
    display: block;
    border-radius: 50%;
}

.contact-section .sec-title:before,
.gmnoprint {
    display: none;
}

.single-post .comments-area .comment-info {
    color: #3e5773;
    line-height: 24px;
    font-size: 13px;
}

.single-post .comments-area .comment-box strong {
    font-size: 15px;
    font-weight: 600;
    color: #111;
    line-height: 16px;
    text-transform: capitalize;
}

.single-post .comments-area .comment-box .text {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.8em;
    font-weight: 300;
    max-width: 510px;
}

.single-post .comments-area .comment-info .comment-time {
    position: relative;
    font-size: 13px;
    color: #777;
    font-weight: 300;
}

.single-post .comments-area .comment-box .theme-btn {
    padding: 5px 30px;
    font-size: 12px;
    border: 1px solid #fbca00;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-contact {
    padding: 0 30px 0 50px;
}

.card-contact h4 {
    font-size: 18px;
    color: #222;
    margin-bottom: 24px;
}

.list-style-two {
    position: relative;
}

.list-style-two li {
    position: relative;
    margin-bottom: 35px;
    color: #222;
    font-size: 15px;
    font-weight: 400;
    padding-left: 45px;
}

.list-style-two li .icon {
    position: absolute;
    left: 0;
    top: 7px;
    color: #9147ff;
    font-size: 30px;
    line-height: 1em;
}

.list-style-two li:last-child .icon {
    top: 10px;
}

.map-section {
    position: relative;
    margin-bottom: 50px;
}

.map-data {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}

.map-data h6 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    color: #121212;
}

.map-canvas {
    height: 270px;
}

.contact-section {
    position: relative;
}

.contact-section .sec-title-two h2 {
    color: #222;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.contact-section .sec-title-two .text {
    margin-bottom: 50px;
}

.contact-section .form-column {
    position: relative;
}

.contact-section .form-column .inner-column {
    position: relative;
    padding-left: 15px;
}

.contact-section .form-column h2 {
    position: relative;
    color: #222;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
}

.contact-form {
    position: relative;
}

.contact-form .form-group {
    margin-bottom: 30px;
}

.contact-form .form-group:last-child {
    margin-bottom: 0;
}

.contact-form .form-group input[type="text"],
.contact-form .form-group input[type="password"],
.contact-form .form-group input[type="tel"],
.contact-form .form-group input[type="email"],
.contact-form .form-group select {
    position: relative;
    display: block;
    width: 100%;
    line-height: 28px;
    padding: 10px 0;
    color: #ddd;
    border-bottom: 1px solid #ddd;
    height: 50px;
    font-size: 14px;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact-form .form-group input[type="text"]:focus,
.contact-form .form-group input[type="password"]:focus,
.contact-form .form-group input[type="tel"]:focus,
.contact-form .form-group input[type="email"]:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus {
    border-color: #ff4d8e;
}

.contact-form .form-group textarea {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    color: #777;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    height: 90px;
    background: #fff;
    resize: none;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact-form button .fa {
    margin-left: 5px;
}

.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
    border-color: red !important;
}

.contact-form label.error {
    display: block;
    line-height: 24px;
    padding: 5px 0 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: red;
    font-weight: 500;
}

.contact-form.style-two .row {
    margin: 0 -10px;
}

.contact-form.style-two .form-group {
    padding: 0 10px;
    margin-bottom: 20px;
}

.contact-form.style-two .form-group input[type="text"],
.contact-form.style-two .form-group input[type="password"],
.contact-form.style-two .form-group input[type="tel"],
.contact-form.style-two .form-group input[type="email"],
.contact-form.style-two .form-group select {
    border: 1px solid #fff;
    height: 58px;
}

.contact-form.style-two .form-group textarea {
    height: 250px;
    border: 1px solid #fff;
}

.contact-form.style-three .row {
    margin: 0 -10px;
}

.contact-form.style-three .form-group {
    padding: 0 10px;
    margin-bottom: 20px;
}

.contact-form.style-three .form-group input[type="text"],
.contact-form.style-three .form-group input[type="password"],
.contact-form.style-three .form-group input[type="tel"],
.contact-form.style-three .form-group input[type="email"],
.contact-form.style-three .form-group select {
    border: 1px solid rgba(255, 255, 255, 0.04);
    height: 58px;
    background: rgba(255, 255, 255, 0.15);
}

.contact-form.style-three .form-group textarea {
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(255, 255, 255, 0.15);
}

#bubble-canvas,
.jquery-background-video-wrapper,
.jquery-background-video-wrapper .overlay,
.page-background .portfolio-bg,
.page-background .portfolio-bg .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-form.style-three::-webkit-input-placeholder {
    color: #fff;
}

.contact-form.style-three::-moz-placeholder {
    color: #fff;
}

.contact-form.style-three:-ms-input-placeholder {
    color: #fff;
}

.contact-form.style-three:-moz-placeholder {
    color: #fff;
}

.contact-form.style-three .form-group .theme-btn {
    background: #fff;
    border-color: #fff;
    color: #222;
}

.dark-version .card-about .about-info,
.dark-version .card-about .client-logo,
.dark-version .card-about .our-skills,
.dark-version .card-about .testimonials,
.dark-version .fact-counter .inner-box {
    border-color: rgba(255, 255, 255, 0.15);
}

#bubble-canvas {
    z-index: 1;
}

.particles-pattern {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.page-background .portfolio-bg .image {
    opacity: 0;
    will-change: opacity, transform;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s 0.2s ease, transform 5s 0.2s ease;
    transition: opacity 0.5s 0.2s ease, transform 5s 0.2s ease;
}

.page-background .portfolio-bg .image.active {
    opacity: 1;
    transform: scale(1);
}

.dark-version .page-background {
    background: #0e1426;
}

.dark-version .card-inner-box .card-home,
.dark-version .card-item {
    background-color: #121a31;
}

.dark-version .card-home .author .designation,
.dark-version .card-home .author h3 {
    color: #fff;
}

.dark-version .card-home .social-icon-two a {
    color: #d5d5d5;
}

.dark-version .card-home .theme-btn,
.dark-version .card-item .title {
    color: #fff;
}

.dark-version .card-about .about-info .text,
.dark-version .card-about .list-style-one li {
    color: #ddd;
}

.dark-version .card-about .list-style-one li strong {
    color: #fff;
}

.dark-version .progress-levels .progress-box .box-title,
.dark-version .testimonial-block .inner-box .text {
    color: #ddd;
}

.dark-version .testimonial-block .inner-box h5 {
    color: #fff;
}

.dark-version .testimonial-block .inner-box {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.24);
}

.dark-version .fact-counter .inner-box p {
    color: #ddd;
}

.dark-version .card-resume .timeline-column .col-header .icon-box,
.dark-version .card-resume .timeline-column .col-header h5 {
    color: #fff;
}

.dark-version .card-resume .timeline-column .timeline-block .date {
    color: #f0f0f0;
}

.dark-version .card-resume .timeline-column .timeline-block .text {
    color: #ddd;
}

.dark-version .services-block .inner-box {
    background: #151d33;
}

.dark-version .services-block h4 a {
    color: #fff;
}

.dark-version .services-block .text {
    color: #ddd;
}

.dark-version .news-block .lower-content h5,
.dark-version .news-block .lower-content h5 a {
    color: #fff;
}

.dark-version .news-block .lower-content .text {
    color: #ddd;
}

.contact-form .form-group input[type="password"],
.contact-form .form-group input[type="email"],
.dark-version .contact-form .form-group input[type="text"],
.dark-version .contact-form .form-group input[type="tel"],
.dark-version .contact-form .form-group select,
.dark-version .contact-form .form-group textarea {
    background: 0 0;
    border-color: #fff8a;
}

.dark-version .contact-form .theme-btn {
    color: #fff;
}

.jquery-background-video-wrapper .overlay {
    background: rgba(11, 12, 18, 0.6);
}
